<h1>Detalles de la Renta</h1>

<p>Renta ID: <%= @rent.id %></p>
<p>Fecha de Inicio: <%= @rent.start_date %></p>
<p>Fecha de Fin: <%= @rent.end_date %></p>

<%= link_to "Volver a la lista de rentas", rents_path %>
