<h1>Rental Details</h1>

<p><strong>Vehicle:</strong> <%= @rent.vehicle.name %></p>
<p><strong>Start Date:</strong> <%= @rent.start_date %></p>
<p><strong>End Date:</strong> <%= @rent.end_date %></p>

<%= link_to "Back to My Rents", rents_path %>
