<% if notice %>
  <div data-controller="flashes" data-flashes-notification-value="<%= notice %>" data-flashes-type-value="success"></div>
<% end %>
<% if alert %>
  <div data-controller="flashes" data-flashes-notification-value="<%= alert %>" data-flashes-type-value="error"></div>
<% end %>
