$card_rounded: 8px;

.card-vehicle {
  border-radius: $card_rounded;
  transition: transform .2s;
}

.card-vehicle:hover {
  transform: scale(1.1);
}

.card-vehicle img {
  border-radius: $card_rounded $card_rounded 0 0;
}

.user-icon {
  font-size: 12px;
}
