<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-3">
      <hr>
      <div class="sticky-top pt-1">
        <%= link_to "Add vehicle", new_vehicle_path, class: "btn btn-success text-white fw-bold rounded w-100" %>
      </div>
    </div>
    <div class="row col-9 d-flex">
      <% @vehicles.each do |vehicle| %>
        <div class="col-4">
          <%= render "vehicle_card", vehicle: vehicle %>
        </div>
      <% end %>
    </div>
  </div>
</div>
